html 
head    
    title Show| Staff 
    link(rel="stylesheet", href="/stylesheets/style.css")
body(style="grid-template-columns: auto;    justify-items: center; align-content: center; ")
  .container2
    table
      tr
        th First Name
        th Last Name
        th E-mail
        th Phone Number
        th Gender
        th Salary
        th Delete
        th Update
      tr
        td John
        td Doe
        td johndoe@example.com
        td (123) 456-7890
        td Male
        td $50,000
        td
          button(style="padding: 7px;") Delete
        td
          button(style="padding: 7px;") Update
      tr
        td John
        td Doe
        td johndoe@example.com
        td (123) 456-7890
        td Male
        td $50,000
        td
          button(style="padding: 7px;") Delete
        td
          button(style="padding: 7px;") Update
      each staff in staffs
        tr 
          td=staff.firstName
          td=staff.LastName
          td=staff.phone
          td=staff.email
          td=staff.Gender
          td=staff.Salary
          td
            button(style="padding: 7px;") Delete
          td
            button(style="padding: 7px;") Update
  div
    button.submit(type="button", id="add", onclick="window.location.href='/'")  Home
    button.submit(type="button", id="add", onclick="window.location.href='/add'") Add
script(src="./index.js")
